<p style="display: none" class="channel"><%= @channel %></p>
<div id="twitch-embed"></div>

<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
        channel: document.querySelector(".channel").innerText,
        parent: ["localhost", "randomstreamfinder.herokuapp.com"]
    });
</script>