<h2 class="text-center text-primary"> 
    <%= current_user == @user ? "Your" : "#{@user.name}'s" %> Profile
</h2>

<br>
<div class = "tab">
    <h3>Recommendations</h3>
    <%= render partial: '/recommendations/recommendations', locals: {recommendations: @user.recommendations} %>
</div>